button {
  margin-top: 64px;

  width: 100%;
  height: 64px;
  border: 0;
  cursor: pointer;
  background: #3CDC8C;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 800;
  outline: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

button:hover {
  background: #36CF82;
}