.page-content {
  display: grid;
  grid-template-columns: 63.9% 1fr;
  height: 100vh;
  background-color: #FFFF;
}

.forgot-password fieldset{
  border: 0;
  width: 70%;
}

form.forgot-password {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password fieldset button.btn-back {
  width: 48px;
  height: 48px;
  background: #EBF2F5;
  border-radius: 16px;
  position: absolute;
  top: 4.88%;
  right: 2.99%;
  opacity: 1;
}

.forgot-password fieldset button.btn-back:hover {
  background:#D3E2E5;
}

form.forgot-password fieldset legend {
  font-size: 32px;
  line-height: 34px;
  color: #5C8599;
  font-weight: bold;

  margin-bottom: 24px;
}

form.forgot-password p {
  font-size: 18px;
  line-height: 28px;
  
  color: #5C8599;
  font-weight: 600;
  
  width: 312px;
  height: 56px;
}

form.forgot-password .input-block {
  margin-top: 40px;
}


form.forgot-password .input-block label {
  display: block;
  color: #8FA7B3;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 24px;
}

form.forgot-password input {
  width: 100%;
  height: 64px;
  padding: 0 16px;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  outline: none;
  color: #5C8599;
  margin-bottom: -16px;
}

